body {
    margin: o;
    min-height: 100vh;
    display: grid;
    place-items: center;
    /* background: hsl(255, 40%, 8%); */
}

img {
    max-width: 100%;
}

.gallery {
    --img-size: calc(100px - var(--gap) / 2);
    --gap: .5rem;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(6, var(--img-size));
    grid-template-rows: repeat(3, var(--img-size));
    place-items: start center;

    img {
        aspect-ratio: 1;
        /* height: 100%; */
        object-fit: cover;
        grid-column: span 2;
        border-radius: .5rem;
        clip-path: path('M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z');
        transition: 
        filter 750ms, 
        clip-path 350ms;

        &:nth-of-type(4) {
            grid-column: 2 / span 2;
        }

        &:hover, &:focus {
            z-index: 100;
            clip-path: path('M 0 0 C 100 0 100 0 200 0 C 200 46 200 48 200 80 C 200 100 200 100 200 120 C 200 141 200 160 200 200 C 100 200 99 200 0 200 C 0 170 0 145 0 120 C 0 100 0 100 0 80 Z');
            transition: clip-path 350ms, filter 350ms;
        }

        &:not(:hover) {
            animation: zIndexHack 350ms;
        }
    }
}

.gallery:hover > img {
    filter: brightness(.5) saturate(.5);
}

.gallery > img:hover {
    filter: brightness(1) saturate(1.5);
}

@keyframes zIndexHack {
    0%, 100% {
        z-index: 10;
    }
}