<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Grid Layout</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <header>
    <h1>This is the title</h1>
  </header>

  <div class="card">
    <div class="card__images">
      <img src="//unsplash.it/300" alt="" class="card__img">
      <img src="//unsplash.it/300" alt="" class="card__img">
      <img src="//unsplash.it/300" alt="" class="card__img">
      <img src="//unsplash.it/300" alt="" class="card__img">
      <img src="//unsplash.it/300" alt="" class="card__img">
    </div>

    <div>
      <div class="card__body">
        <h2 class="card__title">This is the title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem, quas sed, ea quo, corrupti ex
          voluptates esse necessitatibus nulla harum! Delectus repellendus sunt inventore dolore perspiciatis, dolorem
          sed
          facilis nostrum accusantium fugiat exercitationem ipsam vero rerum quasi praesentium. Eos natus nesciunt hic?
          Ex
          adipisci atque repudiandae repellat odit mollitia!</p>
      </div>

    </div>
  </div>

  <footer>
    footer
  </footer>
</body>

</html>