*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(600px, 1000px) minmax(1em, 1fr);
}

header,
footer {
  background: gray;
  color: white;
  padding: 2em;
  grid-column: 1 / -1;
}

.card {
  background: pink;
}
